<h1>Productos</h1>
<ul>
    {{#each payload}}
        <li>
            <h2>{{name}}</h2>
            <p>Precio: ${{price}}</p>
            <p>Categoría: {{category}}</p>
            <a href="/products/{{_id}}">Ver detalles</a>
            <button onclick="addToCart('{{_id}}')">Agregar al carrito</button>
        </li>
    {{/each}}
</ul>

{{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
{{/if}}